{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <img src="{{ character.image }}" alt="{{ character.name }}">
            <h5 class="card-title">
                {{ character.name }}
            </h5>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Status: {{ character.status }}</li>
            <li class="list-group-item">Species: {{ character.species }}</li>
            {% if character.type %}
                <li class="list-group-item">Type: {{ character.type }}</li>
            {% endif %}
            <li class="list-group-item">Gender: {{ character.gender }}</li>
            <li class="list-group-item">Origin:
                {% if(origin.id > 0) %}
                    <a href="{{ path('locationShow', {'id': origin.id}) }}">{{ origin.name }}</a>
                {% else %}
                    {{ origin.name }}
                {% endif %}
            </li>
            <li class="list-group-item">Last known location:
                {% if(location.id > 0) %}
                    <a href="{{ path('locationShow', {'id': location.id}) }}">{{ location.name }}</a>
                {% else %}
                    {{ location.name }}
                {% endif %}
            <li class="list-group-item">Episodes:
                <ul>
                    {% for episode in episodes %}
                        <li><a href="{{ path('episodeShow', {'id': episode.id}) }}">{{ episode.episodeCode }}
                                - {{ episode.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
