{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('cardoverview') }}
{% endblock %}

{% block body %}
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{{ path('locationIndex', {'page': page - 1}) }}">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ path('locationIndex', {'page': page + 1}) }}">Next</a>
        </li>
    </ul>
    <div class="row">

        {% for location in locations %}
            <div class="col">
                <a href="{{ path('locationShow', {'id': location.id}) }}">
                    <div class="card" style="width: 24rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ location.name }}
                            </h5>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Dimension: {{ location.dimension }}</li>
                            <li class="list-group-item">Type: {{ location.type }}</li>
                            <li class="list-group-item">Residents: {{ location.residents | length }}</li>
                        </ul>
                    </div>
                </a>
                <br/>
            </div>

        {% endfor %}
    </div>

{% endblock %}
