{% extends 'base.html.twig' %}

{% block title %}HELLO{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ location.name }}
            </h5>
            <p class="card-subtitle"></p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Dimension: {{ location.dimension }}</li>
            <li class="list-group-item">Type: {{ location.type }}</li>
            <li class="list-group-item">
                {% for resident in residents %}
                    <img src="{{ resident.image }}" alt="{{ resident.name }}" class="img-thumbnail">
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}
