{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('cardoverview') }}
{% endblock %}

{% block body %}


    <ul class="pagination">
        {% if(page > 1) %}
            <li class="page-item">
                <a class="page-link" href="{{ path('dimensionIndex', {'page': page - 1}) }}">Previous</a>
            </li>
        {% endif %}

        {% if (page * itemsPerPage < dimensions.itemCount) %}
            <li class="page-item">
                <a class="page-link" href="{{ path('dimensionIndex', {'page': page + 1}) }}">Next</a>
            </li>
        {% endif %}
    </ul>
    <div class="row">

        {% for dimension in dimensions %}
            <div class="col">
                <a href="{{ path('dimensionShow', {'id': dimension.id}) }}">
                    <div class="card" style="width: 24rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ dimension.name }}
                            </h5>
                            <p class="card-subtitle"></p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Locations: {{ dimension.locations | length }}</li>
                        </ul>
                    </div>
                </a>
                <br/>
            </div>

        {% endfor %}
    </div>

{% endblock %}
