{% extends 'base.html.twig' %}

{% block title %}HELLO{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ dimension.name }}
            </h5>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Locations:
                <ul>
                    {% for location in dimension.locations %}
                        <li><a href="{{ path('locationShow', {'id': location.id}) }}">{{ location.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="list-group-item">
                {% for resident in residents %}
                    <a href="{{ path('characterShow', {'id': resident.id}) }}">
                        <img src="{{ resident.image }}" alt="{{ resident.name }}" class="img-thumbnail">
                    </a>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}
